
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
}
.general-header {
  width:100%;
  }
#left-header-element {
  float:left;
  margin: 15px;
  }
#right-header-element {
  float:right; 
  margin: 15px;
  }
.nav-bar-right-header {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 36px;
  color: black;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
  font-weight: bold;
  }
.nav-bar-right-header:hover { 
  border-top: 3px blue solid;
  color: blue;
  }
main {
  font-family: Raleway, serif;
  }
body {
  float:left;
  padding: 0px;
  }
a, u {
  text-decoration: none;
}
#sous-titre-général {
  color: grey;
  }
.search-tool {
    width:100%;
    display: flex;
    flex-direction: column;

  }
.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  }
.logo-holder-research-bar {
  display: flex;
  border-color: rgb(222, 235, 255);
  padding: 4px;
  border-radius: 15px 15px 15px 15px;   
  margin: -3px;  
  }
#map-marker {
  color: black;
  background-color: rgb(242,242,242);
  border: rgb(242,242,242);
  border-radius: 15px 0 0 15px;
  padding: 1.3rem 1.5rem;
  } 
.search-bar-filter {
  margin: 0 10px 0 10px;
  }
.research-filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-content: flex-start;
  align-items: center;
  margin: 0px;
  }
.search-filter-figure {
  background-color: white; 
  border-radius: 170px;
  padding: -10px;
  margin: 0 1rem;
  cursor: pointer;
  }
.search-filter-figure:hover {
  transform: scale(1.01);
  background-color: rgb(243, 248, 255);
  }
.filter-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px rgb(217,217,217) solid;
  border-radius: 170px;
  }
.filter-holder:hover {
  transform: scale(1.01);
  background-color: rgb(243, 248, 255);
  }
.logo-holder {
  display:flex;
  align-items: center;
  border: solid 18px;
  border-color: rgb(222, 235, 255);
  background-color: rgb(222, 235, 255);
  border-radius: 100px;   
  margin: -3px;
  }
.svg-icone {   
  height: 20px;
  background-color: rgb(222, 235, 255);
  border: grey;
  border-width: 2px ;
  margin: 0 px;
  }
.number-of-results{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fa-info{
  color: blue;
}
#number-of-results-figure {  
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px grey;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
#number-of-results-icone {
  width: 20px;
  height: 20px;
  background-color: white;
  border: white;
  border-width: 2px;
  margin: 19 px;
  }
#number-of-results-text {
  margin: 10px;
  }
#left-popular-flex-container {
  width: 100%;
  min-height: 300px;
  margin: 0 auto;    
  display: flex; 
  }
#left-housing {
  display: flex;
  align-items: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(242,242,242);
  border-radius: 25px;
  width: fit-content ;
  max-width: 70%;
  margin: 2px;
  }
.housing-header-title {
  align-items: left;
  display: flex;
  order: 1;
  height: 0;
  padding: 10px;
  }
.housing-header-title:hover {
  transform: scale(1.01);   
  cursor: pointer; 
  }
.break {
  flex-basis: 100%;
  height: 0;
  width: 100%;
  padding: 0px;
  }
.center-and-left-figure {
  order:2;
  background-color: white; 
  border-radius: 25px;
  padding: 13px;
  margin: 8px;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
  }
.center-and-left-figure:hover {
  transform: scale(1.01); 
}
.center-and-left-figure-img {   
  min-width:  240px;
  max-width: 100%;
  max-height: 100%;
  height: 126px;
  object-fit: fill;
  border-radius: 15px 15px 0 0;
  }
.fa-star {
  color: grey;
  }
.checked {
  color: blue;
  }
.popular-housing {
  position: flex;
  flex-direction: row;
  top: 20px;
  float: right;
  background-color: rgb(242,242,242);
  border: 1px transparent;
  padding: 5px;
  border-radius: 25px;
  min-width: 30%;  
  max-width: 30%;

   }
.popular-housing-title:hover {
  transform: scale(1.01);   
  cursor: pointer; 
    }   
.popular-housing-image {   
  width: 210px;
  height: 140px;
  
  object-fit: fill;
  border-radius: 15px 0 0 15px;
  float: left;
  }
#activity-container {
  display: flex; 
  flex-flow: column wrap;
  align-content: stretch;
  box-shadow: 0 0 20px #0000002e;
  width: 100%;
  height: 550px;
  justify-content: space-evenly;
  }    
.activity-figure-caption {
  padding: 0px;
  margin: 10px;
  font-weight: bold;
  }
.main-div {
  display: flex;
  justify-content:space-around;
  max-width: 100%;
  background-color: rgb(242,242,242);
  }
#icone-filtre {
  color:blue;
  border: blue 20px;
}
#search-button {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
  }
.site-search {
  border-right: none;
  border-left: none;
  border-top: rgb(222, 235, 255);
  border-bottom: rgb(222, 235, 255);
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 15rem;
  font-size: 1.23rem;
  font-weight: bold;
  border: rgb(242,242,242) solid 2px;
  }

.item-long {
  background-color: white;
  border: solid #F2F2F2;
  max-width: 275px;
  box-shadow: 0 0 20px #0000002e;
  flex-grow: 3; 
  max-height: 480px;
  height: 90%;
  width: 22%;
  margin: 2px;
  cursor: pointer;
  padding:0px;
  border-radius: 15px;
  }
.item-middle {
  background-color: white;
  border: solid #F2F2F2;
  box-shadow: 0 0 20px #0000002e;
  max-width: 275px;
  max-height: 235px;
  flex-grow: 2;
  height: 60%;
  width: 22%;
  margin: 2px;
  cursor: pointer;
  border-radius: 15px;
  }
.item-small {
  background-color: white;
  border: solid #F2F2F2;
  box-shadow: 0 0 20px #0000002e;
  max-width: 275px;
  max-height: 210px;
  flex-grow: 1; 
  height: 50%;
  width: 22%;
  margin: 2px;
  cursor: pointer;
  border-radius: 15px;
  }
.item-long:hover {
  transform: scale(1.01);
  }
.item-middle:hover {
  transform: scale(1.01);
  }
.item-small:hover {
  transform: scale(1.01);
  }
.activity-img {   
  min-width:  275px;
  width:22%;
  height: 80%;
  max-width: 100%;
  max-height: 80%;
  object-fit: fill;
  border-radius: 15px 15px 0 0;
  }
.footer-writing:hover{
  transform: scale(1.01);   
  cursor: pointer; 
    }