/* Code description :
   This CSS follows the order of the HTML
   Parts : Header, Searchbar and Filters,
           Main sections (3 parts), 
           Footer, Mobile Breakpoints (4 points)
*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
}
html {
  line-height: 1.15;
  font-family: 'Raleway', serif;
}
/* Header Css start */
#header {
  width:95%;
  display: flex;
  align-items: baseline;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0px 12px 0px 12px;
}
#header img {
  order: 0;
  margin-right:auto;
}
.nav-bar-right-header {
  margin: 0px 0px 0px 32px;
  padding: 34px;
  border-top: 4px transparent solid;
  border-bottom: 15px transparent solid;
}
.nav-bar-right-header:hover { 
  border-top: 4px rgb(0, 101, 252) solid;
  padding: 34px;
  color: rgb(0, 101, 252);
}
.active {
  border-top: 4px rgb(0, 101, 252) solid;
  margin: 0px -1rem;
  color: rgb(0, 101, 252);
}
#subscribe {
  order: 2;
  display: flex;
  align-items: center;
  margin: 0px 16px 0px 0px;
  padding: 13px;
  border-top: 4px transparent solid;
  border-bottom: 10px transparent solid;
  font-weight: bold;
  color: rgb(0, 101, 252);
}
#flex-right-nav {
  order: 1;
  float: left;
  display: flex;
  flex-flow: row nowrap;
  padding:10px;
  margin: 10px;
}
/* Header Css end */
/* General Css tags start */
body {
  float:left;
  padding: 0px;
}
main{
  margin: 1%;
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
  margin-top: 0px;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none; 
  color: black;
}
p {
  margin: 6px 12px 6px 0px;
}
h2 {
  width: 90%;
  padding: 7px;
  margin: 1%;
  font-weight: 800;
}
h3 {
  font-weight: 800;
  margin: 0px 0px 0px 0px;
}
h4 {
  font-weight: 800;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
/* General Css tags end */
/* Search tool start */
.search-tool {
  margin-top: 20px;
  width:100%;
  display: flex;
  flex-direction: column; 
}
#sous-titre-général {
  font-weight: 400;
  color:black;
  margin: -10px 0px 12px 0px; 
}
#search-tool-form, 
#search-tool-figure {
  margin: 0px;
}
.search-form {
  display: flex;
  flex-direction: row;
  margin: -3px;
  font-family: 'Raleway';
}

.logo-holder-research-bar {
  display: flex;
  border-color: rgb(222, 235, 255);
  padding: 4px;
  border-radius: 15px;   
  margin: 0px;
}
#map-marker {
  color: black;
  background-color: rgb(242,242,242);
  border-radius: 15px 0 0 15px;
  padding: 1.3rem 1.5rem;
} 
.search-bar-filter {
  margin: 0 10px 0 8px;
  font-weight: 800;
}
.research-filter-container {
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
  align-content: flex-start;
  align-items: baseline;
  margin: 20px 20px 0px 0px;
}
.search-filter-figure {
  background-color: white; 
  border-radius: 170px;
  margin: 0 1rem;
  cursor: pointer;
}
.search-filter-figure:hover {
  transform: scale(1.01);
  background-color: rgb(243, 248, 255);
}
.filter-holder {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin:2%;
  padding: 0px 0.5px 0px 0px;
  border: 2px rgb(217,217,217) solid;
  border-radius: 170px;
}
.filter-holder:hover {
  transform: scale(1.01);
  background-color: rgb(243, 248, 255);
}
.logo-holder {
  display:flex;
  align-items: baseline;
  border: solid 18px;
  border-color: rgb(222, 235, 255);
  border-radius: 100px;   
  margin: -3px;
}
#icone-filtre {
  height: 20px;
  color: black;
  border: rgb(242,242,242);
  border-width: 2px ;
  margin: 0px;  
}
#search-button {
  background-color: #0065FC;
  color: white;
  font-family: 'Raleway';
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.fa-search {
  color: rgb(0, 101, 252);
  width: 0px;
  height: 0px;
}
.site-search {
  border-right: none;
  border-left: none;
  border-top: rgb(222, 235, 255) solid 2px;
  border-bottom: rgb(222, 235, 255) solid 2px;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 15rem;
  font-size: 1.23rem;
  font-weight: bold;
}
.svg-icon {   
  width: 100%;
  height: 100%;
  margin: 0px;
  border: rgb(0, 101, 252) 2px;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgb(222, 235, 255);
  color:rgb(0, 101, 252);
}
.number-of-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 20px 20px 0px;
}
.fa-info {
  color: rgb(0, 101, 252);
}
#number-of-results-figure {  
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px grey;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
#number-of-results-icone {
  width: 20px;
  height: 20px;
  background-color: white;
  border-width: 2px;
  margin: 19px;
}
#number-of-results-text {
  margin: 10px;
}
/* Search tool end */
/* Housing section start */
#housing-section {
  width: 100%;
  min-height: 300px;    
  display: flex; 
  justify-content:space-around;
  align-items: stretch;
}
#housing-main {
  display: flex;
  order:1;
  flex-flow: row wrap;
  background-color: rgb(242,242,242);
  border-radius: 25px;
  border: 8px transparent;
  padding: 6px 5px 2% 5px;
  width: 74%;
  height: 100%;
  margin: 0px 0.8% 0px 0px;
}
.break {
  flex-basis: 100%;
  height: 0px;
  padding: 0px;
}
.main-housing-article {
  display: flex;
  order:0;
  border-radius: 25px;
  padding: 0px 0px 5px 0px;
  margin: 1%;
  border: white 1px solid;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
}
.main-housing-article a {
  padding: 2px;
}
.main-housing-article:hover {
  transform: scale(1.01); 
}
.main-housing-article img {   
  object-fit: cover;
  width: 255px; 
  height: 146px;
  border-radius: 25px 25px 0 0;
}
.main-housing-article div {
  padding: 2px;
}
.fa-star {
  color: grey;
}
.checked {
  color: rgb(0, 101, 252);
}
#housing-main h3 {
  margin: 0px;
}
#housing-more {
  margin: 3%;
  padding: 3%;
  flex-basis: 30%;
}
.popular-housing {
  display: flex;
  order: 2;
  flex-direction: column;
  top: 20px;
  background-color: rgb(242,242,242);
  border: 4px transparent;
  padding: 5px;
  margin: 3px;
  border-radius: 25px;
  width: 30%;  
}
.popular-housing-article  {
  display: flex;
  order:0;
  max-width: 90%; 
  border-radius: 25px;
  padding: 2px;
  margin: 2.3%;
  border: white 1px solid;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
}
.popular-housing-article:hover {
  transform: scale(1.01); 
}
.popular-housing-title:hover {   
  cursor: pointer; 
}
.popular-housing-title {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5%;
}
.popular-housing img {   
  order: 1;
  width: 145px;
  height: 170px;
  object-fit: cover;
  border-radius: 25px 0 0 25px;
  float: left;
  margin: 0px 9px 0px 0px;
}
.popular-housing a {
  min-width: 100%;
}
.popular-housing-text-rating {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100%;
  order: 2;
}
/* Housing section end */
/* Activity section start */
#activity-background {
  margin:1%;
  background-color: white;
}
#activity-container {
  display: flex; 
  flex-flow: column wrap;
  align-content: stretch;
  width: 100%;
  height: 550px;
  justify-content: space-evenly;
}    
#activity-title {
  margin: 3% 0px -10px 3%;
}
#activity-container h3 {
  padding: 0px 0px 0px 0px;
  margin: 2%;
  font-weight: bold;
}
.item-long {
  background-color: white;
  border: solid #F2F2F2;
  box-shadow: 0 0 20px #0000002e;
  height: 90%;
  width: 23%;
  margin: 1%;
  cursor: pointer;
  padding:0px;
  border-radius: 15px;
}
.item-middle {
  background-color: white;
  border: solid #F2F2F2;
  box-shadow: 0 0 20px #0000002e;
  height: 45%;
  width: 23%;
  margin: 1%;
  cursor: pointer;
  border-radius: 15px;
}
.item-small {
  background-color: white;
  border: solid #F2F2F2;
  box-shadow: 0 0 20px #0000002e;
  height: 35%;
  width: 23%;
  margin: 1%;
  cursor: pointer;
  border-radius: 15px;
}
#item-medium-large {
  height: 56%;
}
#item-smallest {
  height: 25%;
}
.item-long:hover,
.item-middle:hover,
.item-small:hover  {
  transform: scale(1.01);
}
#activity-container img {   
  object-fit: cover;
  width: 100%;
  height: 80%;
  border-radius: 15px 15px 0 0;
}
.item-long img {
  min-height: 87%;
}
.item-small img {
  max-height: 75%;
}
/* Activity section end */
/* Footer start */
.main-div {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  background-color: rgb(242,242,242);
}
.main-div div{
  margin: 0px 5% 0px 0px;
}
.main-div div ul {
  display: flex;
  flex-direction: column;
}
.footer-writing {
  margin: 12px 10px 12px 10px;
}
.footer-writing:hover {
  transform: scale(1.01);   
  cursor: pointer; 
}
/* Footer end */
/* 3 Breakpoints at 768 600 and 480 px one small change at 1080px*/
@media screen and (max-width: 1081px) {
  #housing-section {
    flex-direction: column;
  }
  .popular-housing {
    order: 0;
    min-width: 98%;
  }
  #housing-main {
    order: 1;
    width: 98%;
    justify-content: space-evenly;
  }
  .main-housing-article img {   
    width: 350px; 
    height: 185px;
  }
  .popular-housing-article {
    margin: 1%;
    max-width: 97%;
    height: 200px;
  }
  .popular-housing img {
    min-width: 55%;
    height: 100%;
  }
}
@media screen and (max-width: 769px) {
  .main-housing-article img {    
    width: 100%;
    height: 185px;
  }
  .popular-housing-article  {
    display: flex;
    flex-direction: row;
    order:0;
    border-radius: 25px;
    padding: 2px;
    margin: 2.3%;
    border: white 1px solid;
    cursor: pointer;
  }
  #activity-container {
    display: flex;
    flex-flow: column wrap;
    min-width: 90%;
    height: 1100px;
  }
  #activity-container img {
    min-width: 30%;
    max-height: 50%;
  }
  #activity-container {
    display: flex;
    flex-flow: row wrap;
    min-width: 90%;
    height: 1000px;
  }
  .item-long, 
  .item-middle, 
  .item-small {
   order:2;
   border-radius: 25px;
   padding: 5px;
   margin: 5px;
   cursor: pointer;  
   min-width: 45%;
   max-height: 250px;
  } 
  #activity-container img{   
   width:100%;
   height: 87%;
   max-height: 87%;
   object-fit: cover;
   border-radius: 15px 15px 0 0;
  }
  #activity-container h3 {
    margin: 0.5% 2%;
  }
}
@media screen and (max-width: 601px) {
  #header {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
    min-width: 95%;
    min-height: 125px;
    margin-bottom: 10px;
  }
  #header img {
    margin-right: 0;
    flex-basis: 23%;
  }
  #subscribe {
    order: 0;
    flex-basis: 23%;
  }
  #flex-right-nav {
    width: 97%;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    flex-wrap: nowrap;
    justify-content: center; 
    order: 2;
    flex-basis: auto;
  }
  #first, 
  #second  {
    flex-basis: auto;
    flex-grow: 1;
    padding: 0px 0px;
  }
  .nav-bar-right-header {
    margin: 0px 0px 0px 0px;
    padding: 125px 125px 32px 80px;
    border-top: 4px transparent solid;
    border-bottom: 4px solid rgb(242,242,242);
    }
  .nav-bar-right-header:hover { 
    border-top : 4px transparent;
    border-bottom: 4px rgb(0, 101, 252) solid;
    padding: 125px 125px 32px 80px;
    color: rgb(0, 101, 252);
  }
  .active {
    border-top : 4px transparent;
    border-bottom: 4px rgb(0, 101, 252) solid;
    margin: 0px -30px;
  }
  .nav-bar-right-header {
    width: 190px;
    height: 60px ;
  }
  #search-button {
    border-radius: 1rem;
    margin: 0px 0px 0px -10px;
    padding: 1.3rem 1.7rem;
  }
  #search-word {
    margin: -5px;
    font-size: 0px;
  }
  .fa-search {
    width: 10px;
    height: 10px;
    color: white;
  }
  #housing-main h3 {
    margin: 0px;
  }
  main {
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
  }
  .filter-holder{
    margin: 2%;
  }
  #housing-section {
    display: flex;
    flex-flow: column wrap;
    border-radius: 0px;
  }
  #housing-main {
    order: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    max-width: 90%;
    background-color: white;
    border-radius: 0px;
  }
  .popular-housing {
    order: 1;
    max-width: 74%;
    border-radius: 0px;
  }
  .popular-housing-article img {
    min-width: 50%;
  }
  .main-housing-article a {
    padding: 10px;
  }
  .main-housing-article img {
    width: 100%;
    margin: 0px;
    min-height: 180px;
  }
  #activity-container {
    flex-direction: column;
    height: 1800px;
  }
  .item-long, 
  .item-middle, 
  .item-small {
   min-width: 90%;
  } 
  .main-div {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    max-width: 100%;
    background-color: rgb(242,242,242);
  }
}
@media screen and (max-width: 481px) {
  body {
    margin: 1px;
  }
  .nav-bar-right-header {
    margin: 0px;
    padding: 125px 40% 32px 40%;
  }
  .active {
    margin: -30px;
    padding: 125px 31% 32px 30%;
  }
  #subscribe {
    flex-basis: 23%;
  }
  #flex-right-nav, 
  #housing-section {
    width: 100%;
  }
  .search-tool{
    margin: 10px 0px 0px 2%;
  }
  #housing-main {
    background-color: white;
    max-width: 98%;
  }
  .main-housing-article img {   
    width: 100%; 
    height: 146px;
  }
  #activity-background {
    margin: 0px;
  }
  #activity-container {
    height: 1700px;
  }
  .item-long, 
  .item-middle, 
  .item-small,
  .popular-housing  {
   width: 96%;
  } 
  .main-div {
    width: 100%;
  }
}
@media screen and (max-width: 376px) { 
  body {
    margin: 0px;
    width: 450px;
  }
  .search-form {
    transform: scale(0.95);
  }
  .main-housing-article img {   
    width: 405px; 
    height: 146px;
  }
  #activity-container {
    width: 96%;
  }

}