
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  }
html {
  line-height: 1.15;
  }
#nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width:99%;
  margin: 10px 0px 12px 12px;
  }
.nav-bar-right-header {
  margin-left: 10px;
  margin-right: 10px;
  padding: 31px;
  border-top: 4px transparent solid;
  border-bottom: 3px transparent solid;
  font-weight: bold;
  }
.nav-bar-right-header:hover { 
  border-top: 4px rgb(0, 101, 252) solid;
  padding: 31px;
  margin: 0 -1em;
  color: rgb(0, 101, 252);
  }
#active {
  border-top: 4px rgb(0, 101, 252) solid;
  margin: 0 -1em;
  color: rgb(0, 101, 252);
  }
#subscribe{
  color: rgb(0, 101, 252);
}
main {
  font-family: Raleway, serif;
  }
body {
  float:left;
  padding: 0px;
  }
h1 {
  margin-top: 0px;
}
a, u {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none; 
  color: black;
}
p {
  margin: 6px 12px 6px 0px;
}
h3 {
  margin: 2px 2px 2px 2px;
}
#sous-titre-général {
  color: grey;
  margin: -20 0 12px 0; 
  }
.search-tool {
  width:100%;
  display: flex;
  flex-direction: column;  
  }
#search-tool-form, #search-tool-figure {
  margin: 0px;
}
.search-form {
  display: flex;
  flex-direction: row;
  margin: -3px;
  }
.logo-holder-research-bar {
  display: flex;
  border-color: rgb(222, 235, 255);
  padding: 4px;
  border-radius: 15px 15px 15px 15px;   
  margin: 0px;
  }
#map-marker {
  color: black;
  background-color: rgb(242,242,242);
  border: rgb(242,242,242);
  border-radius: 15px 0 0 15px;
  padding: 1.3rem 1.5rem;
  } 
.search-bar-filter {
  margin: 0 10px 0 10px;
  }
.research-filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-content: flex-start;
  align-items: center;
  margin: 20px 20px 0px 0px;
  }
.search-filter-figure {
  background-color: white; 
  border-radius: 170px;
  padding: -10px;
  margin: 0 1rem;
  cursor: pointer;
  }
.search-filter-figure:hover {
  transform: scale(1.01);
  background-color: rgb(243, 248, 255);
  }
.filter-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px rgb(217,217,217) solid;
  border-radius: 170px;
  }
.filter-holder:hover {
  transform: scale(1.01);
  background-color: rgb(243, 248, 255);
  }
.logo-holder {
  display:flex;
  align-items: center;
  border: solid 18px;
  border-color: rgb(222, 235, 255);
  background-color: rgb(222, 235, 255);
  border-radius: 100px;   
  margin: -3px;
  }
#icone-filtre {
  color:rgb(0, 101, 252);
  border: rgb(0, 101, 252) 20px;
  }
#search-button {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  }
.site-search {
  border-right: none;
  border-left: none;
  border-top: rgb(222, 235, 255);
  border-bottom: rgb(222, 235, 255);
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 15rem;
  font-size: 1.23rem;
  font-weight: bold;
  border: rgb(242,242,242) solid 2px;
  }
.svg-icone {   
  height: 20px;
  background-color: rgb(222, 235, 255);
  border: grey;
  border-width: 2px ;
  margin: 0 px;
  }
.number-of-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 20px 20px 0px;
}
.fa-info {
  color: rgb(0, 101, 252);
}
#number-of-results-figure {  
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px grey;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}
#number-of-results-icone {
  width: 20px;
  height: 20px;
  background-color: white;
  border: white;
  border-width: 2px;
  margin: 19 px;
  }
#number-of-results-text {
  margin: 10px;
  }
#housing-section {
  width: 100%;
  min-height: 300px;
  margin: 0 auto;    
  display: flex; 
  }
#housing-main {
  display: flex;
  order:1;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(242,242,242);
  border-radius: 25px;
  border: 4px transparent;
  max-width: 74%;
  margin: 2px;
  }
.housing-header-title {
  align-items: right;
  width: 100%;
  padding: 10px;
  margin: 5%;
  }
.housing-header-title:hover {
  transform: scale(1.01);   
  cursor: pointer; 
  }
.break {
  flex-basis: 100%;
  height: 0px;
  padding: 0px;
  }
.main-housing-article {
  display: flex;
  order:0;
  background-color: white; 
  border-radius: 25px;
  padding: 4px;
  margin: 1%;
  border: white 1px solid;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
  }
.main-housing-article :hover {
  transform: scale(1.01); 
}
.main-housing-article  img {   
  width: 250px;
  height: 140px;
  object-fit: fill;
  border-radius: 25px 25px 0 0;
  }
.fa-star {
  color: grey;
  }
.checked {
  color: rgb(0, 101, 252);
  }
.popular-housing {
  position: flex;
  order: 2;
  flex-direction: column;
  top: 20px;
  background-color: rgb(242,242,242);
  border: 4px transparent;
  padding: 5px;
  margin: 3px;
  border-radius: 25px;
  min-width: 30%;  
  max-width: 30%;
  }
.popular-housing-article  {
  display: flex;
  order:0;
  background-color: white;
  max-width: 90%; 
  border-radius: 25px;
  padding: 3px;
  margin: 5%;
  border: white 1px solid;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
  }
.popular-housing-article  :hover {
  transform: scale(1.01); 
  }
.popular-housing-title {
  margin: 5%;
}
.popular-housing-title:hover {
  transform: scale(1.01);   
  cursor: pointer; 
    }   
.popular-housing img {   
  order: 1;
  max-width: 160px;
  min-height: 190px;
  max-height: 190px;
  object-fit: fill;
  border-radius: 25px 0 0 25px;
  float: left;
  margin: 0 9 0 0px;
  }
.popular-housing a {
  min-width: 100%;
 }
.popular-housing-text-rating {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100%;
  order: 2;
}
#activity-container {
  display: flex; 
  flex-flow: column wrap;
  align-content: stretch;
  box-shadow: 0 0 20px #0000002e;
  width: 100%;
  height: 550px;
  justify-content: space-evenly;
  }    
.activity-figure-caption {
  padding: 0px;
  margin: 5%;
  font-weight: bold;
  }
.main-div {
  display: flex;
  justify-content:space-around;
  max-width: 100%;
  background-color: rgb(242,242,242);
  }
.item-long {
  background-color: white;
  border: solid #F2F2F2;
  box-shadow: 0 0 20px #0000002e;
  height: 80%;
  width: 22%;
  margin: 1%;
  cursor: pointer;
  padding:0px;
  border-radius: 15px;
  }
.item-middle {
  background-color: white;
  border: solid #F2F2F2;
  box-shadow: 0 0 20px #0000002e;
  height: 45%;
  width: 22%;
  margin: 1%;
  cursor: pointer;
  border-radius: 15px;
  }
.item-small {
  background-color: white;
  border: solid #F2F2F2;
  box-shadow: 0 0 20px #0000002e;
  height: 35%;
  width: 22%;
  margin: 1%;
  cursor: pointer;
  border-radius: 15px;
  }
.item-long:hover {
  transform: scale(1.01);
  }
.item-middle:hover {
  transform: scale(1.01);
  }
.item-small:hover {
  transform: scale(1.01);
  }
.activity-img {   
  width: 100%;
  height: 80%;
  border-radius: 15px 15px 0 0;
  }
.item-long img {
  min-height: 87%;
}
.footer-writing {
  margin: 5%;
}
.footer-writing:hover {
  transform: scale(1.01);   
  cursor: pointer; 
    }
@media screen and (max-width: 601px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .filter-holder{
    margin: 2%;
  }
  #housing-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #housing-main {
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
  }
  .popular-housing {
    order: 1;
    min-width: 100%;
  }
  .popular-housing-article img {
    min-width: 50%;
  }
  .main-housing-article img {
    display:inherit;
    min-width: 90%;
    min-height: 160px;
  }
  .main-housing-article a {
    padding: 10px;
  }
  .main-housing-article img {
    width: 100%;
    min-height: 180px;
  }
  #activity-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 1800px;
  }
  .item-long, .item-middle, .item-small {
   order:2;
   background-color: white; 
   border-radius: 25px;
   padding: 13px;
   margin: 5px;
   box-shadow: 0 0 20px #0000002e;
   cursor: pointer;  
   min-width: 90%;
   max-height: 250px;
   } 
 .activity-img {   
   width:92%;
   height: 80%;
   max-width: 100%;
   max-height: 80%;
   object-fit: fill;
   border-radius: 15px 15px 0 0;
  }
  .main-div {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    max-width: 100%;
    background-color: rgb(242,242,242);
    } 
}